<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.dotteam.dotprod" >

    <!-- For Maps MyLocation functionality -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--
    The SensorTag uses a feature called "Bluetooth Low-Energy" or BLE, part of the Bluetooth
    4.0 specification. We need this to do anything with the SensorTag.
    -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth.ble"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup" >

        <!--
        Service that handles all Bluetooth LE communications with the SensorTag. This comes
        from the SensorTagLib and must be listed in the application's manifest to be available at
        runtime.
        -->
        <service
            android:name="ti.android.ble.common.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name=".data.SessionCollectionService"
            android:enabled="true" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HikeViewPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PastHikesActivity"
            android:label="@string/title_activity_past_hikes"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.dotteam.dotprod.HomeActivity" />
        </activity>
        <activity
            android:name=".PastStatisticsActivity"
            android:label="@string/title_activity_past_statistics"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.dotteam.dotprod.HomeActivity" />
        </activity>
        <activity
            android:name=".ExceptionActivity"
            android:label="@string/title_activity_exception" >
        </activity>
        <activity
            android:name=".HikeSettingsActivity"
            android:label="@string/title_activity_hike_settings"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HikeCustom" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.dotteam.dotprod.HomeActivity" />
        </activity>
        <activity
            android:name=".SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.dotteam.dotprod.HomeActivity" />
        </activity>
    </application>

</manifest>
